[user]
	name = Chetan Vaity
	email = chetanv@gmail.com
[color]
	status = auto
	branch = false
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs -nw
	autocrlf = input
[merge]
	stat = true

