[user]
	name = Chetan Vaity
	email = chetanv@gmail.com
[color]
	status = auto
	branch = auto
	ui = auto
[core]
	excludesfile = /home/chetanv/.gitignore_global
	editor = emacs -nw
	autocrlf = input
[merge]
	stat = true
[branch "master"]
	mergeoptions = --no-ff

